/* COLOR PALETTE
#8CFF98 - light green
#2274A5 - dark blue
#011627 - soft black
#BB4430 - dark orange
#CAE9FF - light blue
*/

/* GLOBAL STYLES
---------------------------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    color: #8CFF98;
    text-decoration: none;
}
h2 {
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    /* when the viewport is smaller than the max-width, it switches to the width */
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
/* NAVBAR STYLES
---------------------------------------------- */
nav {
    background-color: #011627;
    font-weight: 900;
    color: white; 
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 200;
}
nav h1 {
    justify-content: left;
    padding-top: 8px;
    padding-left: 8px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.nav-list a {
    padding: 16px;
    display: inline-block;
}
.button {
    background-color: #8CFF98; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

/* PROFILE STYLES
---------------------------------------------- */
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px;
    padding-top: 100px;
}
.hero-image img{
    border-radius: 36px;
    width: 500px;
}
.title {
    color: #011627;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}

/* INSPIRATION STYLES
---------------------------------------------- */
.inspiration {
    background-color: #FFFFFF;
    color: #011627; 
    text-align: center;
    font-size: 18px;
}
.inspiration h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}  
.inspiration h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.inspiration h2:after {
    margin: 0 0 0 20px;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* PROJECTS STYLES
---------------------------------------------- */
.projects {
    background-color: #011627;
    color: white; 
}
.projects img {
    width: 150px;
    border-radius: 16px;
}
.projects h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    color: #CAE9FF; 
}  
.projects h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.projects h2:after {
    margin: 0 0 0 20px;
}
.projects a {
    background-color: #BB4430;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects a:hover {
    background-color: rgba(187, 68, 48, 80);
}
.project-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

/* COMMUNITIES STYLES
---------------------------------------------- */
.communities {
    background-color: #FFFFFF;
    color: #011627; 
    text-align: center;
}
.communities h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}  
.communities h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.communities h2:after {
    margin: 0 0 0 20px;
}
/* THOUGHTS STYLES
---------------------------------------------- */
.my-thoughts {
    background-color: #011627;
    color: white; 
    text-align: center;
}
.my-thoughts h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    color: #CAE9FF; 
}  
.my-thoughts h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.my-thoughts h2:after {
    margin: 0 0 0 20px;
}

/* MY JOURNEY STYLES
---------------------------------------------- */
.my-journey {
    background-color: #FFFFFF;
    color: #011627; 
}
.my-journey h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}  
.my-journey img {
    width: 150px;
    border-radius: 16px;
}
.my-journey h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.my-journey h2:after {
    margin: 0 0 0 20px;
}
.journey-details {
    margin: 0;
    padding: 0;
}
.journey-bg-pic-sc {
    height: 300px;
    background-image: url(../images/charleston_skyline_background.jpeg);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-weight: 900;
    font-size: 4em;
    align-content: center;
}
.journey-bg-pic-wv {
    height: 300px;
    background-image: url(../images/wv_skyline_background.jpeg);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-weight: 900;
    font-size: 4em;
    align-content: center;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
    border-radius: 16px;
    padding: 16px;
    background-color:#CAE9FF;
}


/* CONTACT INFO STYLES
---------------------------------------------- */
footer {
    background-color: #011627;
    color: #CAE9FF; 
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 16px;
    display: inline-block;
}

/* CALENDAR */
.calendar {
    padding-top:50px;
}

/* RESPONSIVE STYLES */
@media screen and (min-width: 750px){
    .journey-item {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px){
    .contact-list a {
        padding: 5px;
    }
}
