/* COLOR PALETTE
#8CFF98 - light green
#2274A5 - dark blue
#011627 - soft black
#BB4430 - dark orange
#CAE9FF - light blue
#b5c2cb - light gray
*/

/* GLOBAL STYLES
---------------------------------------------- */
html {
    box-sizing: border-box;
    background-color: black;
    color: white;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h2 {
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    /* when the viewport is smaller than the max-width, it switches to the width */
    width: 85%;
    min-height: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* NAVBAR STYLES
---------------------------------------------- */
nav {
    background-color: black;
    font-weight: 900;
    color: #CAE9FF; 
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: -70px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    z-index: 1;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
}
nav h1 {
    justify-content: left;
    padding-top: 8px;
    padding-left: 8px;
}
button {
    padding: 8px;
    background-color: #BB4430; /* Green */
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 3;
}

/* PROFILE STYLES
---------------------------------------------- */
.hero-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px;
    padding-top: 100px;
}
.hero-image img{
    border-radius: 36px;
    width: 500px;
}
.title {
    color: white;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}
.title2 {
    color: #BB4430;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    padding: 0px;
}
.menu-bar {
    font-size: 3em;
    cursor: pointer;
    color: #8CFF98;
    padding-right: 15px;
}

/* INSPIRATION STYLES
---------------------------------------------- */
.inspiration {
    text-align: center;
    font-size: 18px;
    height: 100%;
}
.inspiration h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}  
.inspiration h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.inspiration h2:after {
    margin: 0 0 0 20px;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* PROJECTS STYLES
---------------------------------------------- */
.projects {
    background-color: black;
    color: white; 
    height: 100%;
}
.projects h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    color: #CAE9FF; 
}  
.projects h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.projects h2:after {
    margin: 0 0 0 20px;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-card {
    background: white;
    margin-bottom: 2em; 
    flex: 0 1 calc(25% - 1em);
    border-radius: 15px;
}
.project-card a {
    color: black;
    text-decoration: none;
}
.project-card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}
.thumbnail img {
    display: block;
    border: 0;
    width: 100%;
    height: auto; 
    border-radius: 15px 15px 0px 0px;
}
.project-card-content {
    padding: 1.4em;
}
.project-card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}
.project-card-content p {
    font-size: 80%;
}

/* COMMUNITIES STYLES
---------------------------------------------- */
.communities {
    text-align: center;
}
.communities h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}  
.communities h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.communities h2:after {
    margin: 0 0 0 20px;
}
/* THOUGHTS STYLES
---------------------------------------------- */
.my-thoughts {
    text-align: center;
}
.my-thoughts h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    color: #CAE9FF; 
}  
.my-thoughts h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.my-thoughts h2:after {
    margin: 0 0 0 20px;
}
.blog-post-link {
    text-decoration: none;
    text-decoration-color: none;
    color: #A9A9A9;
}
.blog-post-figure {
    background-color: white;
    border-radius: 15px;
    display: flex;
}
.blog-post-img {
    display: flex;
    background: linear-gradient(#2274A5, #8CFF98);
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}
.blog-post-container {
    padding: 20px;
}
.blog-post-content-h3 {
    color: black;
}
.blog-content {
    color: #b5c2cb;
}

/* MY JOURNEY STYLES
---------------------------------------------- */
.my-journey {
    height: 100%;
}
.my-journey h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}  
.my-journey h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.my-journey h2:after {
    margin: 0 0 0 20px;
}
.journey-bg-pic-wv {
    height: 250px;
    background-image: url(../images/wv_skyline_background.jpeg);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-weight: 900;
    font-size: 5em;
    align-content: center;
    padding: 18px;
}
.journey-bg-pic-sc {
    height: 250px;
    background-image: url(../images/charleston_skyline_background.jpeg);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-weight: 900;
    font-size: 5em;
    align-content: center;
    padding: 18px;
}
.circle {
    margin: auto;
    background: white;
    border-radius: 50%;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.circle:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    transition: 0.5s all ease;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.circle-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.v-line {
    border-left: 2px solid white;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -3px;
}
.reveal-journey {
    position: relative;
    opacity: 0;
    transition: 2s all ease;
}
.reveal-journey.active {
    opacity: 1;
}

/* CONTACT INFO STYLES
---------------------------------------------- */
footer {
    background-color: black;
    color: #CAE9FF; 
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 16px;
    display: inline-block;
    text-decoration: none;
    text-decoration-color: none;
}

/* CALENDAR 
---------------------------------------------- */
.calendar {
    padding-top:50px;
    height: 100vh;
    overflow: hidden; /* Hide scrollbars */
}
.calendar-nav {
    background-color: black;
    font-weight: 900;
    color: #CAE9FF; 
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
}
.calendar-nav h1 {
    justify-content: left;
    padding-top: 8px;
    padding-left: 8px;
}
.list {
    list-style-type: none;
}

/* RESPONSIVE STYLES 
---------------------------------------------- */
@media screen and (min-width: 750px){
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px){
    .contact-list a {
        padding: 5px;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}